<% provide(:title, "Help") %>
<div class="row">
  <div class="col-sm-12 pagename">
    <h3 class="pagetitle">このサイトについて</h3>
  </div>
  <h2>
    歌や楽器演奏をyoutubeなどの動画投稿サイトに投稿したい時、
    <br>もしも他のパートが出来たら・・・と思ったことはありませんか？
    <br>このサイトはそんな時にコラボする相手を探すためのサイトです！
  </h2>
  <div class="row">
    <div class="col-sm-12 pagename">
      <h3 class="pagetitle">各ページ説明</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <h3 class="cattitle">トップ（マイページ）</h3>
          <span>　あなたの投稿へのコメントやフォローしているユーザーの投稿を見ることができます。</span>
        <h3 class="cattitle">投稿する</h3>
          <span>　他の人がコラボに使用する素材を投稿することができます。</span>
        <h3 class="cattitle">素材</h3>
          <span>　他の人が投稿した素材を見ることができます。</span>
        <h3 class="cattitle">コラボ</h3>
          <span>　他の人が投稿したコラボ投稿を見ることができます。</span>
        <h3 class="cattitle">コラボリスト</h3>
          <span>　コラボリストを作成し、他の人の投稿した素材をリストに追加できます。</span>
          <br><span>　また、コラボリストからはコラボ投稿を行うことができます。</span>
        <h3 class="cattitle">メッセージ</h3>
          <span>　他の人から送られてきたメッセージを確認することができます。</span>
        <h3 class="cattitle">ユーザー</h3>
          <span>　ユーザーを検索することができます。</span>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 pagename">
      <h3 class="pagetitle">開発環境</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <h3 class="cattitle">言語</h3>
          <span>Ruby</span>
        <h3 class="cattitle">フレームワーク</h3>
          <span>Rails(ver5.1.6)　※今後バージョンを上げていく予定です。</span>
        <h3 class="cattitle">データベース</h3>
          <span>devlopment:SQLite<br>production:PostgreSQL</span>
        <h3 class="cattitle">フロントエンド</h3>
          <span>CSS, JavaScript, Bootstrap</span>
        <h3 class="cattitle">インフラ</h3>
          <span>Heroku</span>
        <h3 class="cattitle">リポジトリ管理</h3>
          <span>GitHub(URL:https://github.com/wasborn200)</span>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pagename">
        <h3 class="pagetitle">サイト利用方法</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
          <h3 class="cattitle">投稿方法</h3>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro2.png" %>
                </div>
                <div class="col-sm-6">
                  <span>メニューバーの「投稿する」を<br>クリックしてください。</span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro3.png" %>
                </div>
                <div class="col-sm-6">
                  <span>タイトルやコメントを入力し、ファイルを
                    <br>添付して「投稿する」ボタンを 押してください。
                    <br>(mp3、mp4、wav、jpg、pngなどが添付可能です。)
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro4.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    投稿が完了するとメッセージが表示されます。
                    <br>このページではいいね！やコメントをすることができます。
                    <br>またコラボリストを作成している場合は、
                    <br>コラボリストに投稿を保存することができます。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro5.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    自分の投稿一覧からは全投稿を確認することが出来ます。
                  </span>
                </div>
              </div>
            </li>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
          <h3 class="cattitle">コラボ投稿に必要なコラボリストの作成</h3>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro7.png" %>
                </div>
                <div class="col-sm-6">
                  <span>コラボ投稿とは他のユーザーが作成した素材に、音声や楽器を足した投稿です。<br>
                    <br>投稿の一番下に「コラボリスト」のあるものがコラボ投稿で、使用した素材がリストアップされています。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro8.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                   コラボ投稿を行うためには、コラボリストを作成し、
                   コラボに使う素材をコラボリストに入れる必要があります。
                   <br><br>そこで、まずはコラボリストを作成します。
                   メニューバーの「コラボリスト」をクリックしてください。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro9.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    「コラボリストを作成する」をクリックして、作成ページに移動します。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro10.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    タイトルとコメントを入力し、「コラボリストを作成する」を
                    クリックして、コラボリストを作成してください。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro11.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    コラボリストの作成が完了すると、メッセージが表示されます。
                    <br><br>次はこのコラボリストに他の人の投稿を素材として入れていきます。
                  </span>
                </div>
              </div>
            </li>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
          <h3 class="cattitle">コラボ投稿方法</h3>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro18-2.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    他のユーザーのページに行くと、コラボリストが右側に表示されるようになります。
                    <br>「素材として入れる」をクリックすると、任意のコラボリストに素材を入れることができます。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro14.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    コラボリストに素材を入れると、 そのコラボリストのページに コラボリスト投稿用のフォームが表示されます。
                    <br><br>通常の投稿と同じようにタイトルやコメント、ファイルの添付を行い、
                    「コラボ投稿する」ボタンをクリックしてください。
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item introductin">
              <div class="row introduction">
                <div class="col-sm-6">
                  <%= image_tag "intro15.png" %>
                </div>
                <div class="col-sm-6">
                  <span>
                    メッセージが表示されればコラボ投稿の完了です。
                    <br>コラボリストには素材として入れた投稿が表示されています。
                  </span>
                </div>
              </div>
            </li>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h3 class="cattitle">リクエストメッセージ</h3>
        <li class="list-group-item introductin">
          <div class="row introduction">
            <div class="col-sm-6">
              <%= image_tag "intro19.png" %>
            </div>
            <div class="col-sm-6">
              <span>
                コラボ投稿をしてみると、この人と色んなコラボをしてみたい！と思うことがあるかもしれません。
                <br><br>そんな時はリクエストメッセージを送って、要望を伝えてさらに良い投稿を作ってみましょう！
                <br>※リクエストメッセージはユーザーのページから送ることができます。
              </span>
            </div>
          </div>
        </li>
      </div>
      </div>
  </div>
</div>
