<%= form_for(@user, url: yield(:url)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name, "ニックネーム" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :unique_name, "ユニークネーム" %>
  <%= f.text_field :unique_name, class: 'form-control' %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "パスワードの確認" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.label :follow_notification, class:"checkbox inline" do %>
  <%= f.check_box :follow_notification %>
    <span>フォロー・アンフォローされた際にメールアドレスを受け取る</span>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
