<% @all_ranks.each.with_index(1) do |micropost, i| %>
<h3 class="cattitle">第<%= i %>位</h3>
<div id="micropost-<%= micropost.id %>">
  <ul class="list-group list-group-flush">
    <% @micropost = micropost %>
    <%= render 'microposts/posts' %>
    <%= render 'microposts/like_edit_delete' %>
    <%= render 'microposts/collab_items' %>
  </ul>
</div>
<% end %>
