<div class="container" >
  <div class="row">
    <div class="col-md-6">
      <h1><%= link_to image_tag("logo3.png", alt: "Collab RE:Quest" ), root_path %></h1>
    </div>
    <div class="col-md-6">
      <% if logged_in? %>
      <div class="head-myaccount-box">
        <div class="head-myaccount-gravatar">
          <%= link_to gravatar_for(current_user, size: 40), current_user %>
        </div>
        <div class="head-myaccount-info">
          <div class="head-myaccount-detail">
            <div class="head-myaccount-name">
              <span>
                <%= link_to "#{current_user.name}",
                 current_user, class: "head-myaccount-name" %>
              </span>
            </div>
            <div class="head-myaccount-unique_name">
              <span>
                <%= link_to "@ #{current_user.unique_name}",
                 current_user, class: "head-myaccount-unique_name" %>
              </span>
            </div>
          </div>
          <div class="head-myaccount-right">
            <a href="<%= following_user_path(current_user) %>"
              class="head-myaccount-follow_unfollow-text">
              following:<%= current_user.following.count %>
            </a>
            <a href="<%= followers_user_path(current_user) %>"
              class="head-myaccount-follow_unfollow-text">
              followers:<%= current_user.followers.count %>
            </a>
            <div class="my-account-menu">
              <button href='#' class="dropdown-toggle" data-toggle="dropdown">
                menu<b class="caret"></b>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Favorits", favlists_path %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
