<div class= "navbar navgbar-fixed-top navbar-inverse" >
  <div class= "container" >
    <nav>
      <ul class="nav navbar-nav" >
        <li><%= link_to "トップ",   root_path %></li>
        <% if logged_in? %>
        <li><%= link_to "投稿する", new_micropost_path %></li>
          <li><%= link_to "素材", microposts_path %></li>
          <li><%= link_to "コラボ", collabposts_microposts_path %></li>
          <li><%= link_to "コラボリスト", favlists_path %></li>
          <li><%= link_to "メッセージ", messages_path %></li>
          <li><%= link_to "ユーザー", users_path %></li>
          <li><%= link_to "このサイトについて",   help_path %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "このサイトについて",   help_path %></li>
        <% end %>
      </ul>
    <nav>
  </div>
</div>
