<div class= "navbar navgbar-fixed-top navbar-inverse" >
  <div class= "container" >
    <nav>
      <ul class="nav navbar-nav" >
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Microposts", microposts_path %></li>
          <li><%= link_to "Messages", messages_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Post", new_micropost_path %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    <nav>
  </div>
</div>
